body{
  font-family: ´Dancing Script´;
  background-color: #02010a;
  margin:0px;
  width: 100%;
}
.contenido{
    width:900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
  padding: 2vh 2vw;
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  font-size: 40px;
  font-family: 'Dancing Script';
  color: white;
  text-align: left;
  text-shadow: 2px 2px 21px #02010a;
    -webkit-animation:primeraAnimacion 7s;
  animation:primeraAnimacion 7s bounce 5s infinite alternate ;
    
  
}
@-webkit-keyframes primeraAnimacion{
    0%{
        margin-top:150%;
        margin-bottom: -5%;
        
    } 
    @-webkit-keyframes primeraAnimacion {
        100% {
            margin-top: 60%;
            margin-bottom: 0;
        }
        
    }
} 
 
.menunav {
      overflow: hidden;
}
 
.menunav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  
    
}
.retratos {
  margin: 0px;
  background: #d5c75f;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: space-around;
  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
}

.retratos>div {
  margin-bottom: 15px
}

.retratos>div>img {
  flex: 1 1;
  -webkit-flex:0 0;
  border: 1px black solid;
  width: 250px;
}

.retratos>div:first-child>img {
  filter: blur(10px);
}

.retratos>div:nth-child(3)>img {
  filter: sepia(90%);
}

.retratos>div:nth-child(even)>img {
  filter: grayscale(100%);
}

#retrato_01 {
  order: 1;
  -webkit-order: 1;
  margin-top: 15px;
}

#retrato_02 {
  order: 2;
  -webkit-order: 2;
  margin-top: 15px;
}

#retrato_03 {
  order: 3;
  -webkit-order: 3;
  margin-top: 15px;
}

#retrato_04 {
  order: 4;
  -webkit-order: 4;
}

#retrato_05 {
  order: 5;
  -webkit-order: 5;
}

#retrato_06 {
  order: 6;
  -webkit-order: 6;
}



.pie_de_pagina {
  margin: 0px;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  font-size: 10px;
  font-family: 'Dancing Script';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: flex-start;
}

.pie_de_pagina>div {
  margin-left:auto;
  margin-right:auto;
  width:10px;
  
  flex: 1 0;
  -webkit-flex:1 0;
}

.pie_de_pagina>div>h2 {
  display: inline;
}

.pie_de_pagina>div>a {
  color: black;
}

.pie_de_pagina>div>img.icons {
  border-style: none;
  box-shadow: 0px 0px 0px #000000;
  width: 10px
}

#colmn1 {
  order: 1;
  -webkit-order:1;
  
}

#colmn2 {
  order: 2;
  -webkit-order: 2;
}

#colmn3 {
  order: 3;
  -webkit-order: 3;
}

#colmn4 {
  order: 4;
  -webkit-order: 4;
}



/******************************************************/
/*                 Estilos Responsive                 */
/******************************************************/

@media (max-width: 900px) {


  .contenido {
    margin: 0px;
    width: 100%;
  }

  nav {
    float: none;
  }

  #img_principal {
    width: 100%;
  }

  .secundaria {
      flex-direction: column;
      -webkit-flex-direction: column;
  }

  .secundaria>div {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  

  .pie_de_pagina {
      flex-direction: column;
      -webkit-flex-direction: column;
  }

  .pie_de_pagina>div {
    width: 100%;
  }

  #colmn1 {
    margin-bottom: 10px;
  }

  #colmn2 {
    margin-bottom: 10px;
  }

  #colmn3 {
    margin-bottom: 10px;
  }

  .pie_de_pagina>div {
    max-width: 320px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.retratos {
      flex-direction: column;
      -webkit-flex-direction: column;
  }

  .retratos>div {
    width: 100%;
  }

  #retrato_02 {
    
    margin-top: 0px
  }
  #retrato_03 {
    margin-top: 0px
  }
  #retrato_04 {
    margin-bottom: 15px;
  }
  #retrato_05 {
    margin-bottom: 15px;
  }
  #retrato_06 {
    margin-bottom: 15px;
  }

  .retratos>div>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

}
